# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
.idea/
.gradle/
local.properties

# VS Code
.vscode/

# Flutter/Dart/Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Generated
lib/generated_plugin_registrant.dart

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties

# iOS
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig

# Linux
**/linux/flutter/ephemeral/

# macOS
**/macos/Flutter/ephemeral/

# Windows
**/windows/flutter/ephemeral/

# Fuchsia
**/fuchsia/.config
**/fuchsia/flutter/ephemeral/

# Coverage
coverage/